{% extends 'base.html' %}

{% block title %}

  {% load static %}

  <title>About</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  
{% endblock title%}

{% block content%}
{% load static %}

{% comment %} <div class="media mb-5">
  <img class="mr-3" src="{{i.images.url}}" width="200" height="200" alt="">
  <div class="media-body text-justify">
    <h5 class="mt-0 content">{{i.content}}</h5>   
    <a class="btn" href="{% url 'contentshow' i.pk %}">Read more... </a>
  </div>
</div> {% endcomment %}

<div class="container mt-5 mb-5">
    <div class="row"> 
        <div class="col-md-12 col-xs-12 col-md-offset-2">
            <div class="row">
                <div class="col-md-12 col-xs-12 ">
                    <div class=" p-4 text-center"> 
                        <h1 style="color:#79BD42;">About</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}



