{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        {% block title %}

        {% endblock title %}          
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel ="stylesheet" href="{% static 'css/master.css' %}">     
        {% comment %} <h1 class="text-center Heading">All Types Of Breaking News</h1> {% endcomment %}
    </head>
    <body>        
        
        {% comment %} <nav class="navbar navbar-expand-lg bg-success">                       
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>  
          <div class="container">        
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active mx-3">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>                
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li> 
                <li class="nav-item mx-3">
                  <a class="nav-link" href="#">Disclaimer</a>
              </li> 
              </ul>              
            </div>
          </div>
        </nav>       {% endcomment %}

        <nav>
          <div class="wrapper">
              <input type="checkbox" name="checkbox" id="check">
              <label for="check" class="btnBar">
                  <i class="fa fa-bars"></i>
              </label>
              <label class="Logo">Uvesh</label>
              <ul class="">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="#">Support</a></li>
              </ul>
          </div>        
      </nav>
          
        
          {% block content %}

          
             
          {% endblock content %}
           
          
          <footer>
            
          </footer>        

          <script src="{% static 'js/jquery-slim.min.js' %}"></script>
          <script src="{% static 'js/popper.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>                  
          <script src="{% static 'js/master.js' %}"></script> 
          {% block javascript %}
          
          {% endblock javascript %}
    </body>
</html> 