.btnSubmit{
    background-color:#79BD42;
    color:white;  
}
.btnSubmit:hover{
    background-color:white;
    color:#79BD42;
}
.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;    
    background-image: url(../images/remove-icon-small.png)!important;
}
.close:active{
    border:none !important;
    outline:none !important;
}